<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    @* <title>Duende IdentityServer</title> *@
    
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" /> *@
    
    @* <link rel="stylesheet" href="~/lib/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"> *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menus.min.css" />
    <link rel="stylesheet" href="~/css/cards.min.css" />
    <link rel="stylesheet" href="~/css/list-group.min.css" />
    <link rel="stylesheet" href="~/css/buttons.min.css" />
    <link rel="stylesheet" href="~/css/tables.min.css" />
    <link rel="stylesheet" href="~/css/tabs.min.css" />
    <link rel="stylesheet" href="~/css/fields.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    
    
</head>
<body>
    <partial name="_Nav" />
    <div class="side-menu" id="sideMenu">
        <a asp-page="/Index">Home</a>
        @* log in and log out links *@
        @if (User.Identity is {IsAuthenticated: true})
        {
            <a asp-page="/Account/Logout">Logout</a>
            <a asp-page="/Admin/Accounts/Index">Users</a>
        }
        else
        {
            <a asp-page="/Account/Register">Register</a>
            <a asp-page="/Account/Login">Login</a>
        }
    </div>
    <main class="init-no-side-menu">
        @RenderBody()
    </main>

    @*     <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 *@
    
    <script src="~/js/menus.nav.js"></script>
    <script src="~/js/tables.js"></script>
    <script src="~/js/tabs.js"></script>
    @RenderSection("scripts", required: false)
    
    <script>
        function toggleMenu() {
            const sideMenu = document.getElementById("sideMenu");
            sideMenu.classList.toggle("active");

            const burgerMenu = document.querySelector(".burger-menu");
            burgerMenu.classList.toggle("expanded");
            
            const main = document.querySelector("main");
            main.classList.remove("init-no-side-menu");
            main.classList.remove("init-with-side-menu");

            if (burgerMenu.classList.contains("expanded")) {
                main.classList.add("with-side-menu");
                main.classList.remove("no-side-menu");
            } else {
                main.classList.add("no-side-menu");
                main.classList.remove("with-side-menu");
            }
        }
    </script>
    </body>
</html>
