<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    @* <title>Duende IdentityServer</title> *@

    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" /> *@

    @* <link rel="stylesheet" href="~/lib/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"> *@

    <link rel="stylesheet" href="~/css/sideMenu.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/menus.min.css"/>
    <link rel="stylesheet" href="~/css/cards.min.css"/>
    <link rel="stylesheet" href="~/css/list-group.min.css"/>
    <link rel="stylesheet" href="~/css/buttons.min.css"/>
    <link rel="stylesheet" href="~/css/tables.min.css"/>
    <link rel="stylesheet" href="~/css/tabs.min.css"/>
    <link rel="stylesheet" href="~/css/fields.min.css"/>
    <link rel="stylesheet" href="~/css/icons.min.css"/>
    <link rel="stylesheet" href="~/css/PopOvers.min.css"/>
    <link rel="stylesheet" href="~/css/HtmlModal.min.css"/>
    <link rel="stylesheet" href="~/css/switch.min.css"/>
    <link rel="stylesheet" href="~/css/slider.min.css"/>
    <link rel="stylesheet" href="~/css/dropdown.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>
<body>
<partial name="_Nav"/>
<div class="main-container">
    <div class="sidebar" id="sidebar">
        <ul>
            <li data-title="Home">
                <a asp-page="/Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                        <polyline points="9 22 9 12 15 12 15 22"/>
                    </svg>
                    <span>Home</span>
                </a>
            </li>
            @if (User.Identity is { IsAuthenticated: true })
            {
                <li data-title="Logout">
                    <a asp-page="/Account/Logout/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
                            <polyline points="16 17 21 12 16 7"/>
                            <line x1="21" x2="9" y1="12" y2="12"/>
                        </svg>
                        <span>Logout</span>
                    </a>
                </li>
                <hr>
                <li data-title="Users">
                    <a asp-page="/Admin/Accounts/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
                            <circle cx="9" cy="7" r="4"/>
                            <path d="M22 21v-2a4 4 0 0 0-3-3.87"/>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"/>
                        </svg>
                        <span>Users</span></a>
                </li>
                <li data-title="Clients">
                    <a asp-page="/Admin/Clients/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="14" height="8" x="5" y="2" rx="2"/>
                            <rect width="20" height="8" x="2" y="14" rx="2"/>
                            <path d="M6 18h2"/>
                            <path d="M12 18h6"/>
                        </svg>
                    <span>Clients</span></a>
                </li>
                <li data-title="Roles">
                    <a asp-page="/Admin/Roles/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/>
                            <path d="m9 12 2 2 4-4"/>
                        </svg>
                    <span>Roles</span></a>
                </li>
            }
            else
            {
                <li data-title="Register">
                    <a asp-page="/Account/Register/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
                            <circle cx="9" cy="7" r="4"/>
                            <line x1="19" x2="19" y1="8" y2="14"/>
                            <line x1="22" x2="16" y1="11" y2="11"/>
                        </svg>

                        <span>Register</span>
                    </a>
                </li>
                <li data-title="Login">
                    <a asp-page="/Account/Login/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/>
                            <polyline points="10 17 15 12 10 7"/>
                            <line x1="15" x2="3" y1="12" y2="12"/>
                        </svg>

                        <span>Login</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <main class="content">
        @RenderBody()
    </main>
</div>


@*     <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 *@

<script src="~/js/sideMenu.js"></script>
@* <script src="~/js/menus.nav.js"></script> *@
<script src="~/js/tables.js"></script>
<script src="~/js/tabs.js"></script>
<script src="~/js/slider.js"></script>
<script src="~/js/dropdown.js"></script>
<script src="~/js/forViewComponent/Selection-Container.js"></script>
<script src="~/js/forViewComponent/StringArrayContainerFunctions.js"></script>
<script src="~/js/forViewComponent/ToggleRemoveSelection.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>
