@using Duende.IdentityServer.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

    <nav class="navbar  navbar-expand-sm navbar-dark bg-dark">

        <div id="burgerMenu" class="burger-menu">
            &#9776; <!-- This is the burger icon -->
        </div>
        <ul id="nav2" class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="#" class="dropdown-toggle closed "><i class="fa-regular fa-circle-user"></i><span>@name</span> </a>
                <ul>
                    @if (!string.IsNullOrWhiteSpace(name))
                    {

                        <li>
                            <a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="dropdown-item" asp-page="/Account/Register/Index">Register</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="/Account/Login/Index">Login</a>
                        </li>
                    }
                </ul>
            </li>

        </ul>

    </nav>
