$colour-warning: #f89696;
$background-color: #FFF;
$border-color: #CCC;
$text-color: #000;
$nav-height-wide-screen: 80px;
$nav-height-small-screen: 60px;
$nav-background-color: #2d2d2d; // Grayscale of #736C56
$nav-text-color: #E7E7E7; // Grayscale of #e7e5e5
$hover-background-color: #8E8E8E; // Grayscale of #A38E6D
