// Variables
$card-border-color: #ccc;
$card-header-footer-bg-color: #f5f5f5;

// Card Component
.card {
  border: 1px solid $card-border-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow: hidden;

  &-header,
  &-footer {
    background-color: $card-header-footer-bg-color;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  &-body {
    padding: 15px;
    text-align: center;
  }
}

.card-container{
  display: flex; 
  justify-content: space-between; 
  align-items: stretch; 

  > * {
    flex: 1; 
    margin: 0 10px; 
    text-align: center; 
  }
}

.card-dl-content {
  dt {
    font-weight: bold;
    overflow-wrap: break-word;
    // create border around the top and left and right of the dt element
    border-top: 1px solid $card-border-color;
    border-left: 1px solid $card-border-color;
    border-right: 1px solid $card-border-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    //background-color: $card-header-footer-bg-color;
    
  }
  dd{
    margin-left: 0;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    // create border around the bottom and left and right of the dd element
    border-bottom: 1px solid $card-border-color;
    border-left: 1px solid $card-border-color;
    border-right: 1px solid $card-border-color;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $card-header-footer-bg-color;
  }


  @container (max-width: 400px) {
  }
}
