.field-container {
    margin-bottom: 20px;
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    @media (max-width: 600px) {
        flex-direction: column;
    }


    >strong {
        flex: 1;
        display: inline-block;
    }
    >span {
        flex: 2;
        display: inline-block;
    }
    
    
        

    @media (max-width: 768px) {
        width: 100%;
    }
}
