.standard-modal{
    width: 80%;
    height: 80%;
}
.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 70%;
    overflow-y: scroll;
}