@use 'siteVariables' as *;

.logged-out-page {
    iframe {
        display: none;
        width: 0;
        height: 0;
    }
}


.bg-warning {
    background-color: $colour-warning;
}




body {
    background-color: $background-color;
    color: $text-color;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav" "main";
    grid-template-columns: 1fr;
    grid-template-rows: $nav-height-wide-screen 1fr;
}

main {
    grid-area: main;
    padding: 1rem;
    background-color: $background-color;// #e9ecef;
    overflow-y: scroll;
}

/* Side Menu Section */
.side-menu {
    display: flex;
    flex-direction: column;
    background-color: #555;
    padding: 1em;
    overflow-y: auto;
    bottom: 0;
    position: absolute;
    top: $nav-height-wide-screen;
    left: 0;
    width: 150px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.side-menu a {
    display: block;
    color: white;
    padding: 0.5em 0;
    text-decoration: none;
    font-size: 0.9em;
}

.side-menu a:hover {
    background-color: #666;
}

.side-menu.active {
    transform: translateX(0);
}


.side-menu.active {
    display: block;
    transform: translateX(0);
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.burger-menu {
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    align-self: flex-start;
    display: flex; 
    align-items: center;
    height: 100%;
}

.burger-menu.expanded > svg {
    /* rotate 180 on the z-axis */
    transform: rotate(180deg);
}

main.no-side-menu {
    margin-left: 130px;
    animation: animateMarginIn 0.3s ease-in-out 1 forwards;
}

@keyframes animateMarginOut {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: calc(150px + 2em);
    }
}

main.with-side-menu {
    margin-left: 0;
    animation: animateMarginOut 0.3s ease-in-out 1 forwards;
}

@keyframes animateMarginIn {
    0% {
        margin-left: calc(150px + 2em);
    }

    100% {
        margin-left: 0;
    }
}


.init-no-side-menu {
    margin-left: 0;
}

.init-with-side-menu {
    margin-left: calc(150px + 2em);
}

nav {
    grid-area: nav;
    background-color: $nav-background-color;
    color: $nav-text-color;
    display: grid;
    grid-template-areas: "logo burger title right-dropdown-menu";
    grid-template-columns: 90px 1fr 1fr 150px;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    img {
        height: 90px;
    }
}


.with-divider {
    border-top: 1px solid $border-color
}

.with-bottom-divider {
    border-bottom: 1px solid $border-color;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 0; // heading usually at the top which already has padding
    margin-bottom: 0.5em;
}




@media (max-width: 768px) {
    body {
        grid-template-rows: $nav-height-small-screen 1fr;
    }

    .side-menu {
        top: $nav-height-small-screen;
    }
}

.form-row, .claim-row, .add-claim-row {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 12px;
    flex-direction: column;
}

.form-row.text-form-row,  {
    align-items: baseline;
}

.add-claim-row {
    padding-top: 12px;
}
// first column that is not hidden
.form-row > .form-label, .claim-row > .form-label {
    font-weight: 500;
    color: #555;
    word-break: break-word;
    width: 100%;
}

// 2nd child in the row
.form-row > :nth-child(2) , .claim-row > :nth-child(2){
    flex: 1;
}



.form-options {
    width: 160px;
    font-weight: 500;
    color: #555;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

// second column
//.claim-row > .form-input , .add-claim-row > .form-input {
.form-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-input:has(:first-child[type="checkbox"]) {
    padding-left: 0;
    border: none;
}

.form-input-holder {
    padding: 8px 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.check-group-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.check-group-container > * {
    flex: 0 0 calc(33.333% - 20px)
}

.text-array-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.text-array-container-row {
    display: flex;
    gap: 5px;
    padding: 5px;
    // query for smaller screens 
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    
    
}


.create-new-claim-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.create-new-claim-row > * {
    flex: 1;
}


@media screen and (max-width: 600px) {
    .claim-row, .add-claim-row {
        flex-direction: column;
        gap: 0;
        margin-bottom: 32px;
    }

    .claim-row > .form-label, .form-options {
        width: 100%;
        text-align: center;
    }

    .form-options {
        padding: 8px 12px;
        box-sizing: content-box;
    }

    .form-input, .form-input {
        //width: 100%;
        height: 50px;
    }

    .claim-row > .delete-icon-button, .add-claim-row > .add-icon-button {
        width: 100%;
        padding: 0 12px 0 12px;
        box-sizing: content-box;
    }
}

.check-selection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: inherit;
    padding: 5px 0;
    width: 80%;
}

.check-selection-item {
    position: relative;
}
.check-selection-item-container{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.check-selection-item input[type="checkbox"], .check-selection-item input[type="radio"]  {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
}

.check-selection-label {
    display: block;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: white;
    color: black;
    text-align: center;
}

.check-selection-item input[type="checkbox"]:checked + .check-selection-label,
.check-selection-item input[type="radio"]:checked + .check-selection-label {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

.check-selection-label:hover {
    border-color: #4CAF50;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
}

.centered {
    justify-content: center;
}

.items-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.items-container > * {
    padding: 12px;
    border-radius: 8px;
    min-width: 120px;
    flex: 1;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: cadetblue;
}