@charset "UTF-8";
.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0;
}

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
}
.grants-page .card .card-title {
  font-size: 120%;
  font-weight: bold;
}
.grants-page .card .card-title img {
  width: 100px;
  height: 100px;
}
.grants-page .card label {
  font-weight: bold;
}

body {
  background-color: #FFF;
  color: #000;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-areas: "nav" "main";
  grid-template-rows: 80px 1fr;
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: #e9ecef;
  overflow-x: scroll;
}

/* Nav Section */
nav {
  grid-area: nav;
  background-color: #2d2d2d;
  color: #E7E7E7;
  display: grid;
  grid-template-areas: "logo burger title right-dropdown-menu";
  grid-template-columns: 90px 1fr 1fr 150px;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}
.logo img {
  height: 90px;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-inline-start: 10px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.dropdown-menu li {
  flex: 1;
  position: relative;
  background-color: #2d2d2d;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown-menu li a {
  height: 100%;
  align-content: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 25px;
  color: inherit;
  background-color: inherit;
  font-weight: bold;
  text-decoration: none;
}
.dropdown-menu li a:hover {
  background-color: #8E8E8E;
}
.dropdown-menu li a.dropdown-toggle::after {
  content: "▲";
  position: absolute;
  right: 10px;
  font-size: 12px;
}
.dropdown-menu li a.dropdown-toggle.closed::after {
  content: "▼";
}
.dropdown-menu ul {
  padding-inline-start: 10px;
  list-style: none;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  padding-left: 0;
  width: 200px;
  position: absolute;
}
.dropdown-menu ul.show {
  opacity: 1;
}
.dropdown-menu ul ul {
  position: absolute;
  left: 200px;
  top: 0;
  z-index: 2000;
}
.dropdown-menu.dropdown-menu-right {
  grid-area: right-dropdown-menu;
  align-self: center;
  height: 100%;
}
.dropdown-menu.dropdown-menu-right > li {
  display: flex;
  justify-content: flex-end;
}
.dropdown-menu.dropdown-menu-right > li > a {
  justify-content: flex-end;
}
.dropdown-menu.dropdown-menu-right > li > ul {
  position: fixed;
  width: 200px;
  top: 80px;
  box-sizing: content-box;
}

@media screen and (max-width: 1024px) {
  .burger-menu {
    grid-area: burger;
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    align-self: center;
  }
  .dropdown-menu {
    flex-direction: column;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 500px;
    overflow: hidden;
  }
  .dropdown-menu li {
    border-top: 1px solid #CCC;
  }
  .dropdown-menu li:first-child {
    border-top: none;
  }
  .dropdown-menu ul {
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .dropdown-menu ul.show {
    max-height: 500px;
  }
  .dropdown-menu ul ul {
    position: relative;
    left: 0;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    box-sizing: border-box;
    border: none;
  }
  .dropdown-menu ul a.dropdown-toggle::after {
    content: "▲";
  }
  .dropdown-menu ul a.dropdown-toggle.closed::after {
    content: "▼";
  }
  .dropdown-menu-right {
    flex-direction: row;
  }
  .dropdown-menu-right li {
    justify-content: flex-end;
  }
  .dropdown-menu-right li a {
    justify-content: flex-end;
  }
  .dropdown-menu-right li a span {
    display: inline-block;
    transition: max-width 0.5s ease;
    max-width: 150px;
    float: right;
    overflow: hidden;
  }
  .dropdown-menu-right li a.closed span {
    max-width: 0;
    overflow: hidden;
  }
  .dropdown-menu-right li ul {
    top: 98px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .hidden-small {
    max-height: 0;
    overflow: hidden;
    opacity: 0.2;
  }
}

/*# sourceMappingURL=site.css.map */
