$colour-white: #fff;
$colour-light-grey: #f0f0f0; 
$colour-border: #000; 
$colour-striped: #a9a9a9; 

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: $colour-white;
  border-collapse: collapse;
  font-size: 0.875rem;

  th,
  td {
    padding: 0.5rem;
    vertical-align: top;
  }

  th {
    text-align: left;
    background-color: $colour-light-grey;
    border-bottom: 2px solid $colour-border; // Black border
  }
}

.table-bordered {
  border: 1px solid $colour-border; // Black border for table

  th,
  td {
    border: 1px solid $colour-border; // Black border for cells
  }
}

.table-striped {
  tbody {
    tr:nth-of-type(odd) {
      background-color: $colour-striped; // Grey stripe for odd rows
    }

    tr:nth-of-type(even) {
      background-color: $colour-white; // White stripe for even rows
    }
  }
}

.table-sm {
  th,
  td {
    padding: 0.3rem;
  }
}
tr{
}