$tab-bg-color: #e5e5e5;
$tab-hover-bg-color: #d8d8d8;
$tab-active-bg-color: #ccc;
$panel-bg-color: #fff;
$text-color: #7f7f7f;
$checked-text-color: #333;
$border-color: #ccc;
$radius: 1px;
$tab-bg-color-accent: #14b8a6;

.tabs {
  display: flex;
  flex-wrap: wrap;
  //background: $tab-bg-color;
  border: 1px solid $border-color;
  border-radius: $radius;
  align-items: stretch;
  width: 100%;
  padding: 5px; 

  .tabs-panel-input {
    position: absolute;
    opacity: 0;

    &:focus + .tab-heading {
      z-index: 1;
    }

    &:checked + .tab-heading {
      background: $tab-bg-color;
      color: $checked-text-color;
    }

    &:not(:checked) + .tab-heading:last-of-type {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }

    &:checked + .tab-heading + .panel {
      display: block;
    }
  }

  .tab-heading {
    width: 100%;
    padding: 20px 30px;
    //background: $tab-bg-color;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    //color: $text-color;
    transition: background 0.1s, color 0.1s;
    //border-bottom: 1px solid $border-color;
    border-radius: $radius $radius 0 0;

    &:hover {
      background: $tab-hover-bg-color;
      border-radius: 0;
    }

    &:first-of-type:hover {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    &:last-of-type:hover {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }

    &:active {
      background: $tab-active-bg-color;
    }
  }

  .panel {
    display: none;
    background: $panel-bg-color;
    width: 100%;
    height: 450px;
    overflow: hidden;

    .panel-content {
      width: 100%;
      height: 100%;
      padding: 20px 30px 30px;
      overflow-x: hidden;
      overflow-y: auto;
      border-top: 1px solid $border-color;
    }

    &:last-of-type {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  @media (min-width: 600px) {
    .tab-heading {
      width: auto;
      border-bottom: none;
      border-radius: $radius $radius 0 0;

      &:hover {
        background: $tab-hover-bg-color;
        border-radius: $radius;
      }
    }

    .panel {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      order: 99;
    }

    .tabs-panel-input:checked + .tab-heading {
      background: $panel-bg-color;
      color: $tab-bg-color-accent;
      border-bottom: 2px solid $tab-bg-color-accent;
    }
  }
}