.tab-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;

  .tab-headers {
    overflow: hidden;
    background-color: #f1f1f1;
    display: none;
    border-bottom: 1px solid #ccc;
    flex: 0 0 45px;
  }

  .tab-link {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #ccc;
    }
  }

  .tab {
    display: none;
    border-top: none;
    //height: 340px;
    overflow: hidden;

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .tab-content {
      padding-top: 5px;
      padding-bottom: 5px;
      height: 100%;
      box-sizing: border-box;
      overflow: auto;
    }
  }

  .tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .tab-link {
      display: block;
      width: 100%;

      @media screen and (min-width: 600px) {
        display: none;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .tab-headers {
      display: block;
    }

    .tab:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.tab-content {
    // Default left and right padding
    padding-left: 40px;
    padding-right: 40px;
    // For very large screens
    @media screen and (min-width: 1200px) {
        padding-left: 60px;
        padding-right: 60px;
    }
    // For medium screens (e.g., tablets)
    @media screen and (max-width: 1024px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    // For small screens (e.g., small tablets or large phones)
    @media screen and (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    // For extra-small screens (e.g., phones)
    @media screen and (max-width: 480px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
